@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

* {
    margin: 0;
    padding: 0;
}
html,body{
    min-height: 100vh;
}

header{
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    font-family: 'Passion One';
    font-variant: small-caps;
    font-size: 8rem;
}
header > p {
    padding-bottom: 50px;
    font-weight: bold;
    font-size: 2vh;
    
}
a {
    color: white;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
section{
    padding-top: 10vh;
    padding-bottom:10vh;
    padding-left: 30px;
}
section p {
    font-family: 'Sriracha';
    font-size: 7.4vh;
}
section.normal{
    color: black;
    background-color: white;
}

section.imagem{
    color: white;
    background-color: rgba(0, 0, 0, 0.445);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}
.imagem p {
    background-color: rgba(0, 0, 0, 0.555);
    max-width: 618px;

}

#flor{
    background-image: url(imagens/background001.jpg);
}
#livro {
    background-image: url(imagens/background002.jpg);
}
footer{
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
}
